In [16]:
import pandas as pd

In [71]:
curva_2023 = pd.read_csv('data/raw/CURVA_CARGA_2023.csv', delimiter=';')

In [72]:
def clean_curva(df):
    df = df[df['nom_subsistema'] == 'SUDESTE']
    df = df.drop(columns = ['id_subsistema', 'nom_subsistema'])
    df = df.rename(columns = {'din_instante': 'date', 'val_cargaenergiahomwmed': 'energy_demand'})
    df['date'] = pd.to_datetime(df['date'])
    df['time'] = df['date'].dt.time
    df['date'] = pd.to_datetime(df['date'].dt.date)
    df['is_weekend'] = df['date'].dt.dayofweek > 4
    return df

In [73]:
curva_2023 = clean_curva(curva_2023)
curva_2023

            date  energy_demand      time  is_weekend
3     2023-01-01      32183.885  00:00:00        True
7     2023-01-01      32196.682  01:00:00        True
11    2023-01-01      31539.570  02:00:00        True
15    2023-01-01      30699.367  03:00:00        True
19    2023-01-01      30126.195  04:00:00        True
...          ...            ...       ...         ...
35023 2023-12-31      45826.886  19:00:00        True
35027 2023-12-31      44883.742  20:00:00        True
35031 2023-12-31      41328.082  21:00:00        True
35035 2023-12-31      38135.522  22:00:00        True
35039 2023-12-31      36060.076  23:00:00        True

[8760 rows x 4 columns]

In [74]:
curva_2024 = pd.read_csv('data/raw/CURVA_CARGA_2024.csv', delimiter=';')
curva_2024 = clean_curva(curva_2024)
curva_2024

            date  energy_demand      time  is_weekend
3     2024-01-01      34981.614  00:00:00       False
7     2024-01-01      34968.063  01:00:00       False
11    2024-01-01      34671.581  02:00:00       False
15    2024-01-01      34035.344  03:00:00       False
19    2024-01-01      33420.272  04:00:00       False
...          ...            ...       ...         ...
35119 2024-12-31      47703.680  19:00:00       False
35123 2024-12-31      46685.056  20:00:00       False
35127 2024-12-31      42634.745  21:00:00       False
35131 2024-12-31      39017.488  22:00:00       False
35135 2024-12-31      36809.957  23:00:00       False

[8784 rows x 4 columns]

In [76]:
curva = pd.concat([curva_2023, curva_2024])
curva.to_csv('data/clean/curva_horaria.csv')