In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scripts.data_processing import process_data
import os

In [16]:
df_met = process_data()

In [17]:
base_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))
path = os.path.join(base_dir, 'data/clean/demand_curve.csv')
df_demand = pd.read_csv(path)

In [18]:
df_demand

             date  energy_demand      time  is_weekend
0      2023-01-01      32183.885  00:00:00        True
1      2023-01-01      32196.682  01:00:00        True
2      2023-01-01      31539.570  02:00:00        True
3      2023-01-01      30699.367  03:00:00        True
4      2023-01-01      30126.195  04:00:00        True
...           ...            ...       ...         ...
17539  2024-12-31      47703.680  19:00:00       False
17540  2024-12-31      46685.056  20:00:00       False
17541  2024-12-31      42634.745  21:00:00       False
17542  2024-12-31      39017.488  22:00:00       False
17543  2024-12-31      36809.957  23:00:00       False

[17544 rows x 4 columns]

In [20]:
df_met_grouped = df_met.copy().groupby(by = ['date', 'time']).mean().reset_index()

In [56]:
time_strs = df_met_grouped['time'].astype(str).str.zfill(4)
df_met_grouped['date'] = pd.to_datetime(df_met_grouped['date'])
df_met_grouped['time'] = pd.to_timedelta(time_strs)
df_demand['date'] = pd.to_datetime(df_demand['date'])
df_demand['time'] = pd.to_timedelta(time_strs)

In [57]:
df_met_grouped

,date,time,precipitation_total,atmospheric_pressure_station_level,atmospheric_pressure_sea_level,atmospheric_pressure_max_prev_hour,atmospheric_pressure_min_prev_hour,global_radiation,station_CPU_temp,air_temp_dry_bulb,...,min_dew_point_temp_prev_hour,station_battery_voltage,max_relative_humidity_prev_hour,min_relative_humidity_prev_hour,relative_humidity,wind_direction,wind_max_gust,wind_speed,month,year
0,2023-01-01,0 days 00:00:00,0.0,950.739871,1016.242216,950.816513,950.148450,65.038247,24.223906,22.083037,...,18.978160,12.626935,86.699831,81.686883,84.857680,156.373688,4.351461,1.531581,1.0,2023.0
1,2023-01-01,0 days 01:00:00,0.0,951.112981,1016.720330,951.209387,950.724429,42.775175,23.635446,21.694538,...,18.990676,12.607361,87.803884,83.542707,86.458271,143.581532,4.019698,1.443589,1.0,2023.0
2,2023-01-01,0 days 02:00:00,0.0,951.025242,1016.685403,951.314641,950.908633,29.665854,23.134841,21.459765,...,18.847005,12.586535,88.498743,84.541839,86.880958,148.265861,4.121579,1.530713,1.0,2023.0
3,2023-01-01,0 days 03:00:00,0.0,950.541273,1016.239882,951.097254,950.511393,23.164785,22.740201,21.140563,...,18.767691,12.559054,89.257608,85.413578,88.044819,140.289399,4.023283,1.556923,1.0,2023.0
4,2023-01-01,0 days 04:00:00,0.0,949.894698,1015.596731,950.569857,949.875092,23.119580,22.397736,20.862481,...,18.729335,12.551519,90.031580,86.728647,88.962628,135.123881,3.897941,1.429525,1.0,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,2024-12-31,0 days 19:00:00,0.0,947.160314,1011.459395,947.705226,947.086265,1266.721498,30.036544,26.233838,...,18.456222,13.363299,70.759584,61.528167,67.254030,137.493860,5.534582,2.009619,12.0,2024.0
17540,2024-12-31,0 days 20:00:00,0.0,946.957743,1011.371251,947.343074,946.820163,897.997323,29.372299,25.704994,...,18.648971,13.187187,72.717919,64.650418,69.843552,147.002807,5.233866,1.863778,12.0,2024.0
17541,2024-12-31,0 days 21:00:00,0.0,947.210482,1011.903443,947.376636,946.822903,447.403487,28.269560,24.599515,...,18.674314,12.931708,75.485042,67.807952,73.843552,138.778669,4.983866,1.693230,12.0,2024.0
17542,2024-12-31,0 days 22:00:00,0.0,947.569643,1012.583156,947.742511,947.111017,183.361094,26.766435,23.410272,...,18.832393,12.639154,80.532636,72.519049,79.281525,137.450762,4.566239,1.491712,12.0,2024.0
17543,2024-12-31,0 days 23:00:00,0.0,948.071013,1013.283156,948.187032,947.500058,128.381074,25.458216,22.770546,...,19.062558,12.592579,83.712110,77.927228,82.187580,149.209383,4.103225,1.441712,12.0,2024.0

In [58]:
df = df_met_grouped.merge(df_demand, on=['date', 'time'])

In [59]:
df['date'] = pd.to_datetime(df['date'] + df['time'])
df = df.drop(columns = 'time')

In [60]:
df

,date,precipitation_total,atmospheric_pressure_station_level,atmospheric_pressure_sea_level,atmospheric_pressure_max_prev_hour,atmospheric_pressure_min_prev_hour,global_radiation,station_CPU_temp,air_temp_dry_bulb,dew_point_temp,...,max_relative_humidity_prev_hour,min_relative_humidity_prev_hour,relative_humidity,wind_direction,wind_max_gust,wind_speed,month,year,energy_demand,is_weekend
0,2023-01-01 00:00:00,0.0,950.739871,1016.242216,950.816513,950.148450,65.038247,24.223906,22.083037,19.330515,...,86.699831,81.686883,84.857680,156.373688,4.351461,1.531581,1.0,2023.0,32183.885,True
1,2023-01-01 01:00:00,0.0,951.112981,1016.720330,951.209387,950.724429,42.775175,23.635446,21.694538,19.266813,...,87.803884,83.542707,86.458271,143.581532,4.019698,1.443589,1.0,2023.0,32196.682,True
2,2023-01-01 02:00:00,0.0,951.025242,1016.685403,951.314641,950.908633,29.665854,23.134841,21.459765,19.135860,...,88.498743,84.541839,86.880958,148.265861,4.121579,1.530713,1.0,2023.0,31539.570,True
3,2023-01-01 03:00:00,0.0,950.541273,1016.239882,951.097254,950.511393,23.164785,22.740201,21.140563,19.073866,...,89.257608,85.413578,88.044819,140.289399,4.023283,1.556923,1.0,2023.0,30699.367,True
4,2023-01-01 04:00:00,0.0,949.894698,1015.596731,950.569857,949.875092,23.119580,22.397736,20.862481,18.979346,...,90.031580,86.728647,88.962628,135.123881,3.897941,1.429525,1.0,2023.0,30126.195,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,2024-12-31 19:00:00,0.0,947.160314,1011.459395,947.705226,947.086265,1266.721498,30.036544,26.233838,19.316618,...,70.759584,61.528167,67.254030,137.493860,5.534582,2.009619,12.0,2024.0,47703.680,False
17540,2024-12-31 20:00:00,0.0,946.957743,1011.371251,947.343074,946.820163,897.997323,29.372299,25.704994,19.455754,...,72.717919,64.650418,69.843552,147.002807,5.233866,1.863778,12.0,2024.0,46685.056,False
17541,2024-12-31 21:00:00,0.0,947.210482,1011.903443,947.376636,946.822903,447.403487,28.269560,24.599515,19.392740,...,75.485042,67.807952,73.843552,138.778669,4.983866,1.693230,12.0,2024.0,42634.745,False
17542,2024-12-31 22:00:00,0.0,947.569643,1012.583156,947.742511,947.111017,183.361094,26.766435,23.410272,19.515223,...,80.532636,72.519049,79.281525,137.450762,4.566239,1.491712,12.0,2024.0,39017.488,False
17543,2024-12-31 23:00:00,0.0,948.071013,1013.283156,948.187032,947.500058,128.381074,25.458216,22.770546,19.521216,...,83.712110,77.927228,82.187580,149.209383,4.103225,1.441712,12.0,2024.0,36809.957,False